nav(class='navbar navbar-inverse')
  div(class='container-fluid')
    div(class='navbar-header')
      button(
        type='button' 
        class='navbar-toggle collapsed' 
        data-toggle='collapse' 
        data-target='#navigation-list'
        aria-expanded='false'
        )
        span(class='sr-only') Toggle navigation
      // ko if: hasHome
      a(class='navbar-brand' href='#home') Home
      // /ko 
    div(class='collapse navbar-collapse' id='navigation-list')
      ul(class='nav navbar-nav' data-bind='foreach: navlinks')
      
        //ko if: $data.get('type') == 'category' || $data.get('type') == 'article'
        li(data-bind='component: {name: "humble-navlink", params: $data}')      
        // /ko
        
        //ko if: $data.get('type') == 'categoryGroup' || $data.get('type') == 'articleGroup'  
        li(data-bind='component: {name: "humble-nav-dropdown", params: $data}')
        // /ko
        
