nav(class='navbar navbar-default')
  div(class='container-fluid')
    div(class='navbar-header')
      button(
        type='button' 
        class='navbar-toggle collapsed' 
        data-toggle='collapse' 
        data-target='#navigation-list'
        aria-expanded='false'
        )
        span(class='sr-only') Toggle navigation
      // ko if: hasHome
      a(class='navbar-brand' href='#home') Home
      // /ko 
    div(class='collapse navbar-collapse' id='navigation-list')
      ul(class='nav navbar-nav')
        // ko foreach: navlinks
        li
          syndicate-navlink(params='$data')
        li
          syndicate-navlink(params='$data')
        li
          syndicate-navlink(params='$data')
        // /ko
